@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.responsive-image {
  width: 65px;
  height: auto;
}

@media (min-width: 768px) {
  .responsive-image {
    width: 100px;
  }
}

html,
body {
  overflow-x: hidden;
}
html {
  scroll-behavior: smooth;
}
.animate-fade-in {
  animation: fade-in 2s forwards;
}
